<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {%- if web_title %}
    <title>{{ web_title.strip('\n') }} - {{ _c('site.name') }}</title>
    {%- elif page %}
    <title>{{ page.title.strip('\n') }} - {{ _c('site.name') }}</title>
    {%- elif post %}
    <title>{{ post.title.strip('\n') }} - {{ _c('site.name') }}</title>
    {%- elif posts and list_id > 1 %}
    <title>{{ _g('Page {0}', list_id) }} - {{ _c('site.name') }}</title>
    {%- else %}
    <title>{{ _c('site.name') }}</title>
    {%- endif %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ _rt('url_prefix.static') }}/style.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/styles/atelier-cave-light.min.css">
    {%- for css in _c('static.css') %}
    <link rel="stylesheet" type="text/css" href="{{ css }}">
    {%- endfor %}
</head>
<body>
{% include 'header.html' %}
    {%- block body %}
    {%- endblock %}
{% include 'footer.html' %}
<script type="text/javascript" src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/highlight.min.js"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>
{%- for js in _c('static.js') %}
<script type="text/javascript" src="{{ js }}"></script>
{%- endfor %}
</body>
</html>
